{% load staticfiles %}
{% load bootstrap %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/contacts.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'main-page' %}">Main Page</a>
                    <a class="btn btn-default navbar-btn" role="button" href="{% url 'add-contact' %}" >Add contact</a>
                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>
